<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello React</title>
    <link href="~/dist/style.bundle.css" rel="stylesheet">
</head>
<body>
    <div id="react_main"></div>
    <script type="text/javascript" src="~/dist/bundle.js"></script>
</body>
</html>